<main>
    <h1><%= title %></h1>
  
    <%- messages() %>
  
    <% if (locals.loggedIn) { %>
      <h2>Welcome <%= locals.firstName %></h2>
      
      <div class="account-management">
        <a href="/account/update/<%= locals.accountData.account_id %>" class="update-account-link">
          Update Account Information
        </a>
  
        <% if (locals.accountType === "Employee" || locals.accountType === "Admin") { %>
          <h3>Inventory Management</h3>
          <p><a href="/inv/" class="inventory-link">Manage Inventory</a></p>
        <% } %>
      </div>
    <% } else { %>
      <p class="notice">Please log in to access account management.</p>
    <% } %>
  </main>
  
