
<% if (messages) { %>
  <% if (messages.notice) { %>
    <div class="notice"><%= messages.notice %></div>
  <% } %>
<% } %>

<h1><%= title %></h1>

<div class="inventory-management">
  <h2>Inventory Controls</h2>
  <div class="inventory-actions">
    <a href="/inv/add" class="button">Add New Vehicle</a>
    <a href="/inv/manage" class="button">Manage Existing Inventory</a>
  </div>
</div>


