<header>
  <nav>
    <ul>
      <% if (locals.loggedIn) { %>
        <li><a href="/account">Welcome <%= locals.firstName %></a></li>
        <% if (locals.accountType === 'Client') { %>
          <li><a href="/account/update">Update Account</a></li>
        <% } else { %>
          <li><a href="/inventory">Inventory Management</a></li>
        <% } %>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">My Account</a></li>
      <% } %>
    </ul>
  </nav>
</header>
