<header>
  <div class="header-content">
    <div class="site-title">
      <a href="/">CSE Motors</a>
    </div>
    <div class="account-nav">
      <% if (locals.loggedIn) { %>
        <a href="/account">Welcome <%= locals.firstName %></a>
        <% if (locals.accountType === 'Client') { %>
          <a href="/account/update">Update Account</a>
        <% } else { %>
          <a href="/account/update">Update Account</a>
        <% } %>
        <a href="/account/logout">Logout</a>  <!-- Asegúrate que sea exactamente así -->
      <% } else { %>
        <a href="/account/login">My Account</a>
      <% } %>
    </div>
  </div>
</header>




