<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  <p><%= message %></p>
  <img src="/images/crash.jpg" alt="Error Image" style="max-width: 100%; height: auto;">
  <div class="return-box">
    <a class="return" href="/">Return to Home</a>
  </div>